:root {
  --primary-color: #009999;
  --secondary-color: #1D7373;
  --tertiary-color: #006363;
  --quaternary-color: #33CCCC;
  --quinary-color: #5CCCCC;
}

main img {
  height: 300px;
  width: 400px;
}

.gallery img {
  height: 600px;
  width: 800px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: #fff;
}


.header {
  background-color: var(--secondary-color);
  padding: 10px;
}

.header__title {
  margin: 0;
}

.header__nav {
  margin: 10px 0;
}

.header__list {
  list-style: none;
  padding: 0;
}

.header__item {
  display: inline;
  margin-right: 10px;
}

.header__link {
  color: #fff;
  text-decoration: none;
}


.main {
  padding: 20px;
}

.main__title {
  color: var(--quaternary-color);
}

.main__text {
  margin: 10px 0;
}

.main__link {
  color: var(--quinary-color);
  text-decoration: underline;
}


.footer {
  background-color: var(--tertiary-color);
  text-align: center;
  padding: 10px 0;
}

.footer__text {
  margin: 0;
}




@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}


@media screen and (max-width: 768px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__item {
    margin-bottom: 10px;
  }
}


@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .ie-message {
    display: block;
  }
}